[submodule "alpha-beta-CROWN"]
	path = alpha-beta-CROWN
	url = https://github.com/Verified-Intelligence/alpha-beta-CROWN

[submodule "vnncomp2023_benchmarks"]
	path = vnncomp2023_benchmarks
	url = https://github.com/ChristopherBrix/vnncomp2023_benchmarks
